/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_dark {
  --main-font: 'IBM Plex mono';
  --accent-color: #FF0070;
  --accent-another-color: #000028;
  --reg-text-color: #F1B2CE;
  --main-heading-color: #DB00FF;
  --text-size: 18px;
  --offset: 20px;
  --small-offset: 10px;
  --section-offset: 80px;
  --small-section-offset: 60px;
  --bck-img: url(../images/cover-image-dark.png);
}

.page.theme_dark {
  .header__icon {
    display: inline-block;
  }
}
