:root .theme_dark {
  --main-font: 'IBM Plex mono';
  --accent-color: #FF0070;
  --bck-accent-color: #FF0070;
  --link-accent-color: #FF0070;
  --shadow-color: #FF0070;
  --accent-another-color: #000028;
  --bck-color: #000028;
  --reg-text-color: #F1B2CE;
  --main-heading-color: #DB00FF;
  --text-size: 18px;
  --offset: 20px;
  --small-offset: 10px;
  --section-offset: 80px;
  --small-section-offset: 60px;
  --bck-img: url(../images/cover-image-dark.png);
}

.theme_dark .header__icon {
  display: inline-block;
  /* если у пользователя по умолчанию светлая тема, то prefers-color-scheme: light скрывает иконку в тёмной теме тоже, поэтому добавил сюда этот класс  */
}



@media (prefers-color-scheme: dark) {
  :root .theme_auto {
    --main-font: 'IBM Plex mono';
    --accent-color: #FF0070;
    --bck-accent-color: #FF0070;
    --link-accent-color: #FF0070;
    --shadow-color: #FF0070;
    --accent-another-color: #000028;
    --bck-color: #000028;
    --reg-text-color: #F1B2CE;
    --main-heading-color: #DB00FF;
    --hover-color: rgba(255, 0, 112, 0.4);
    --text-size: 18px;
    --offset: 20px;
    --small-offset: 10px;
    --section-offset: 80px;
    --small-section-offset: 60px;
    --bck-img: url(../images/cover-image-dark.png);
  }
}

