:root .theme_light {
  --accent-color: #353430;
  --accent-another-color: #353430;
  --bck-color: #FFF1F7;
  --bck-accent-color: #FF8DCB;
  --link-accent-color: #FF8DCB;
  --reg-text-color: #353430;
  --main-heading-color: #FFC2E6;
  --hover-color: rgba(50, 49, 45, 0.4);
  --bck-img: url(../images/cover-image-light.png);
}

.theme_light .header__icon {
  display: none;
}

.theme_dark .header__icon {
  display: inline-block;
}

@media (prefers-color-scheme: light) {
  :root .theme_auto {
    --accent-color: #353430;
    --accent-another-color: #353430;
    --bck-color: #FFF1F7;
    --bck-accent-color: #FF8DCB;
    --link-accent-color: #FF8DCB;
    --reg-text-color: #353430;
    --main-heading-color: #FFC2E6;
    --hover-color: rgba(50, 49, 45, 0.4);
    --bck-img: url(../images/cover-image-light.png);
    }

    .header__icon {
      display: none;
    }
}

